body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
    color: black;
}
